<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <script src="https://kit.fontawesome.com/ce6fc57481.js" crossorigin="anonymous"></script> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Desafio DH HTML</title>
</head>

<body>

    <header>
        <div class="top_bar">
            <span class="search">
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" />

                <form action="/home" method="POST">
                    <input type="text" placeholder="Buscar productos, marcas" id="buscar">
                </form>
                <a href="#"><i class="fas fa-search"></i></a>
            </span>
            <span class="copy">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </span>

            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
        </div>

        <div>


            <nav class="bottom_bar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul>
                    <li><a href="/register">Crea tu cuenta <i class="fa-icon fas fa-solid fa-id-card"></i></a></li>
                    <li><a class="over" href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-icon fas fa-solid fa-shopping-basket"></i></a></li>
                </ul>



            </nav>

        </div>

    </header>
    <div id="banner"><img src="images/img-home-banner.jpg" alt="banner"></div>

    <main>
        <section class="ultima-visita">
            <h1 class="titles">Basado en tu última visita</h1>
            <section class="productos">

                <article class="item">
                    <img class="imagen" src="images/img-cafetera-moulinex.jpg">
                    <div class="descripcion">
                        <i class="fas fa-solid fa-truck"></i>
                        <br>
                        <span>
                            <p class="precio">$6.770</p>
                            <p class="descuento"> 40% OFF</p>
                        </span>
                        <br>
                        <p class="producto"> Cafetera Moulinex</p>
                    </div>
                </article>

                <article class="item">
                    <img class="imagen" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                    <div class="descripcion">
                        <i class="fas fa-solid fa-truck"></i>
                        <br>
                        <span>
                            <p class="precio">$70.500</p>
                            <p class="descuento"> 10% OFF</p>
                        </span>
                        <br>
                        <p class="producto"> Samsung Galaxy</p>
                    </div>
                </article>

                <article class="item">
                    <img class="imagen" src="images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <div class="descripcion">
                        <i class="fas fa-solid fa-truck"></i>
                        <br>
                        <span>
                            <p class="precio">$230.000</p>
                            <p class="descuento"> 20% off</p>
                        </span>
                        <br>
                        <p class="producto"> MacBook Pro</p>
                    </div>
                </article>

                <article class="item">
                    <img class="imagen" src="images/img-tv-samsung-smart.jpg" alt="SmartTv">
                    <div class="descripcion">
                        <i class="fas fa-solid fa-truck"></i>
                        <br>
                        <span>
                            <p class="precio">$23.200</p>
                            <p class="descuento"> 5% OFF</p>
                        </span>
                        <br>
                        <p class="producto"> SmartTv Samsung 43</p>
                    </div>
                </article>


            </section>
        </section>

        <section class="ofertas">
            <h1 class="titles">Ofertas</h1>
            <section class="productos">
                <section class="productos">
                    <article class="item">
                        <img class="imagen" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                        <div class="descripcion">
                            <i class="fas fa-solid fa-truck"></i>
                            <br>
                            <span>
                                <p class="precio">$70.500</p>
                                <p class="descuento"> 10% OFF</p>
                            </span>
                            <br>
                            <p class="producto"> Samsung Galaxy</p>
                        </div>
                    </article>

                    <article class="item">
                        <img class="imagen" src="images/img-macbook-pro-2019.jpg" alt="MacBook">
                        <div class="descripcion">
                            <i class="fas fa-solid fa-truck"></i>
                            <br>
                            <span>
                                <p class="precio">$230.000</p>
                                <p class="descuento"> 20% off</p>
                            </span>
                            <br>
                            <p class="producto"> MacBook Pro</p>
                        </div>
                    </article>

                    <article class="item">
                        <img class="imagen" src="images/img-cafetera-moulinex.jpg">
                        <div class="descripcion">
                            <i class="fas fa-solid fa-truck"></i>
                            <br>
                            <span>
                                <p class="precio">$6.770</p>
                                <p class="descuento"> 40% OFF</p>
                            </span>
                            <br>
                            <p class="producto"> Cafetera Moulinex</p>
                        </div>
                    </article>

                    <article class="item">
                        <img class="imagen" src="images/img-tv-samsung-smart.jpg" alt="SmartTv">
                        <div class="descripcion">
                            <i class="fas fa-solid fa-truck"></i>
                            <br>
                            <span>
                                <p class="precio">$23.200</p>
                                <p class="descuento"> 5% OFF</p>
                            </span>
                            <br>
                            <p class="producto"> SmartTv Samsung 43</p>
                        </div>
                    </article>


                </section>
            </section>

    </main>
    <footer class="centrado">
        <section class="foot">
            <section>
                <i class="fas fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>Con Mercado Liebre Cash,
                tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro !
            </section>
            <section>
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
            </section>
            <section>
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>¿No te gusta? ¡Devolvelo ! En Mercado Liebre,
                no hay nada que no puedas hacer, porque estás siempre protegid@.
            </section>

            <br><section class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </section>
    </footer>
</body>

</html>