<!DOCTYPE html>
<html>
    <head>
        <title>Desafio DH Mercado Liebre</title>
        <meta charset="utf-8">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 

        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"/>
            <div><input type="text"> </div>
            <div><p>Compré en cuotas y sin tarjeta </p> </div>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>        
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </header>
        <main>

        </main>
        <footer>
        
        </footer>
    </body>
</html>